![example](images/director_shot.jpeg)

# Microsoft Movie Studios Analysis

**Authors:** Dermot O'Brien, Ziyuan Wang
***

## Overview

We have been tasked with providing the head of "Microsoft Movie Studios" three actionable insights that they can use to decide what kinds of films to make. To make these reccommendations, we must first gather movie data from reputable sources, clean the data properly, and analyze and vizualize our findings simply and effectively.

## Business Problem

Microsoft Movie Studios is a relatively new division that is looking to compete with the best movie makers in the business. To do this, they will first need to have a better understanding of their competitors successes and failures, the trends related to the kinds of movies that are successful, the types of movies that have high production costs and gross profits, etc. In this analysis, we hope to provide a clearer picture of the industry and target an area of focus for Microsoft Movie Studios to take advantage of. 

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

To analyze the movie industry as a whole, we are taking date from the following sources:
- Box Office Mojo
- Rotten Tomatoes
- The Movie Database (TMDB)
- The Numbers
- Internet Movie Database (IMDB)

***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [286]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from collections import defaultdict

%matplotlib inline

# Create a connection to IMDB Database
conn = sqlite3.connect('./zippedData/im.db')

# Other
pd.options.display.max_rows = 1000

In [75]:
# Here you run your code to explore the data

# Box Office Mojo
bom_df = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')

# Rotten Tomatoes Movies
rt_movie_df = pd.read_csv('./zippedData/rt.movie_info.tsv.gz', delimiter='\t')

# Rotten Tomatoes Reviews
rt_reviews_df = pd.read_csv('./zippedData/rt.reviews.tsv.gz', delimiter='\t', encoding='latin1')

# The Numbers Movie Budgets
tn_moviebudgets_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')

# The Movie Data Base Movies
tmdb_moives_df = pd.read_csv('./zippedData/tmdb.movies.csv.gz') # genre ids?

# IMDB Database (Schema)
imdb_schema = pd.read_sql("""
SELECT *
FROM sqlite_master
""", conn)

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

### DJ's Data Inspection & Prep on Rotten Tomatoes Data

#### Two Dataframes to work with:

##### Rotten Tomatoes Movies

In [110]:
rt_movie_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [111]:
rt_movie_df.shape

(1560, 12)

In [112]:
rt_movie_df.describe()

                id
count  1560.000000
mean   1007.303846
std     579.164527
min       1.000000
25%     504.750000
50%    1007.500000
75%    1503.250000
max    2000.000000

In [114]:
rt_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [115]:
rt_movie_df.isna().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

##### Rotten Tomatoes Reviews

In [206]:
rt_reviews_df['rating'].value_counts()

3/5       4327
4/5       3672
3/4       3577
2/5       3160
2/4       2712
2.5/4     2381
3.5/4     1777
3.5/5     1289
5/5       1237
B         1163
1/5       1113
1.5/4     1095
4/4        995
2.5/5      992
B+         832
1/4        822
B-         821
C          779
C+         665
4.5/5      567
7/10       522
A-         514
8/10       505
C-         493
6/10       468
1.5/5      405
A          397
5/10       351
D          324
9/10       304
4/10       252
D+         204
0/5        162
8          143
3/10       140
1          138
0/4        132
7          125
F          109
0.5/4      100
D-          84
6           82
A+          73
2/10        73
7.5/10      58
0.5/5       52
5           48
8.5/10      41
6.5/10      39
4           34
3           33
9           33
1/10        30
5.5/10      27
4.5/10      21
3.0/4       21
3.5         18
9.5/10      17
3/6         14
2.0/5       12
3.0/5       12
2           11
4.0/4       11
2.1/2        9
5.0/5        9
4/6          9
2.5          8
6/8          8
2/6          8
2.7          8
4.0/5        7
6.0/10       6
7.1/10       6
0            6
2.2          5
4.5          5
2.5/10       5
5.0/10       5
3.7          5
1.5          5
R            5
5.9/10       5
8.2/10       5
6.8/10       4
7.9/10       4
2.0/4        4
0/10         4
3.5/10       4
8.0/10       4
5.5/5        4
7.2/10       4
7.4/10       4
5/6          3
4.7          3
1/6          3
3.2          3
8.9/10       3
7.7/10       3
3.8/5        3
9.2/10       3
8.4/10       3
1.0/4        3
1.5/10       3
9.0/10       2
3.7/5        2
8.2          2
3.6/5        2
7.6/10       2
7.8/10       2
N            2
4.8          2
4.2/10       2
5.8/10       2
6.9/10       2
8.7/10       2
3.0          2
4.9/10       2
2.4/5        2
8.6/10       2
9.8          2
5.8          2
2/2          2
1.9/5        2
3.4          2
8.1/10       2
8.3/10       2
3.3/5        2
8.8/10       2
7.0/10       2
4.1/10       1
6.7          1
1-5          1
1.0/5        1
0/6          1
6.3/10       1
9.0          1
3.1          1
2.2/5        1
F+           1
2.6/5        1
4.1          1
4.2          1
9.6/10       1
5.2          1
2.3/5        1
1.8          1
3.1/5        1
5.9          1
4.0          1
5/4          1
1.6/5        1
4.4/5        1
9.7          1
8.9          1
2.7/5        1
1.7          1
8.4          1
1.0          1
F-           1
2.3/4        1
6.2          1
6.2/10       1
7.1          1
4.2/5        1
3.3          1
7.9          1
2.3/10       1
3 1/2        1
4.0/10       1
7.3/10       1
8.5          1
T            1
0.5/10       1
1/2          1
7.4          1
7.7          1
4.3/5        1
4.9          1
7.3          1
4.3/10       1
9.2          1
7.8          1
3.0/10       1
3/2          1
2.6/6        1
3.8/10       1
Name: rating, dtype: int64

In [106]:
rt_reviews_df.shape

(54432, 8)

In [107]:
rt_reviews_df.describe()

                 id    top_critic
count  54432.000000  54432.000000
mean    1045.706882      0.240594
std      586.657046      0.427448
min        3.000000      0.000000
25%      542.000000      0.000000
50%     1083.000000      0.000000
75%     1541.000000      0.000000
max     2000.000000      1.000000

In [108]:
rt_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [116]:
rt_reviews_df.isna().sum()

id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

##### Merge the Dataframes

In [182]:
# Merge the dataframes
rt_full_df = rt_movie_df.merge(rt_reviews_df, how='inner', on='id')

##### Best Genre's according to top critics "fresh" ratings

In [389]:
# Top Critic is a designation created to distinguish Tomatometer-approved critics who excel at their craft. 
# Critics selected are well-established, influential, and prolific; they are, in a sense, the cream of the crop. 
# Top Critic status is granted by a set of criteria and a selection panel and cannot be applied for.

# create a dictionary with k = movie id and v = fresh/total ratio of all "fresh" ratings by top critics per movie
movie_fresh_dict = {} 
for movie_id in rt_full_df.groupby(by='id').groups:
    count = rt_full_df.groupby(by='id').get_group(movie_id)['fresh'].value_counts().values.tolist()
    try:
        ratio = round(count[0] / (count[0] + count[1]), 2)
    except:
        ratio = 1
    movie_fresh_dict[movie_id] = ratio
#movie_fresh_dict

In [390]:
# create a dictionary where k = movie id and v = genre
genre_dict = dict(zip(rt_full_df.id, rt_full_df.genre))
#genre_dict

In [391]:
# create a dictionary where k = movie id and v = list that includes the fresh rating and genre
genre_rating_dict = {}

for key in (movie_fresh_dict.keys() | genre_dict.keys()):
    if key in movie_fresh_dict: 
        genre_rating_dict.setdefault(key, []).append(movie_fresh_dict[key])
    if key in genre_dict: 
        genre_rating_dict.setdefault(key, []).append(genre_dict[key])

#genre_rating_dict

In [399]:
# create a dataframe that includes movie id (as index), Fresh Ratio, Genre
genre_rating_df = pd.DataFrame.from_dict(genre_rating_dict, orient='index', columns=['Fresh Ratio', 'Genre'])
#genre_rating_df

      Fresh Ratio                                              Genre
3            0.63                  Drama|Science Fiction and Fantasy
5            0.78                  Drama|Musical and Performing Arts
6            0.56                         Drama|Mystery and Suspense
8            0.75                              Drama|Kids and Family
10           0.54                                             Comedy
...           ...                                                ...
1996         0.67   Action and Adventure|Horror|Mystery and Suspense
1997         0.64                 Comedy|Science Fiction and Fantasy
1998         1.00  Classics|Comedy|Drama|Musical and Performing Arts
1999         0.59    Comedy|Drama|Kids and Family|Sports and Fitness
2000         0.53  Action and Adventure|Art House and Internation...

[1135 rows x 2 columns]

In [402]:
# Group dataframe by Genre and find the average fresh ratio for each genre
#genre_rating_df.groupby(by='Genre').mean().sort_values(by='Fresh Ratio', ascending=False)

# Terry Analysis

In [381]:
im_df.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [380]:
# split genres
im_df['genres'].str.split(",").str[0]

0              Action
1           Biography
2               Drama
3              Comedy
4              Comedy
             ...
146139          Drama
146140    Documentary
146141         Comedy
146142           None
146143    Documentary
Name: genres, Length: 146144, dtype: object

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***